<<<<<<< HEAD
header{
    background-color: #FF0000; height: 70px;width:100%;
}
=======
header{
    background-color: #FF0000; height: 70px;width:100%;
}
>>>>>>> 06ee4c2737af4bc9174abfc03059b1836ea3154c
